.list{
    list-style: none;
}
.list li{
    background: rgba(0, 0, 0, 0.206);
    width: 100px;
    margin: 10px auto;
    border-radius: 20px;

}
.list li:hover{
    cursor: pointer;
    background-color: brown;
    transition: background 1s linear;
}
.Timer{
    margin-top: 20px;
    padding: 20px;
    border: 2px solid black;
    display: inline-block;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.267);
}
.Timer .Time{
    font-size: 40px;
    font-weight: bold;
}